
  
@media (max-width: 600px) {
    #abt-text {
        /* float: none */
        padding: 0 10px  0 10px ;
        font-size: 1.1em;
    }
    
    #abt-img {
        margin-bottom: 30px;
    }
    
    #abt-main {
        /* padding:  60px */
        text-align: center;

    }
  }
  
  

  
  @media (min-width: 601px) {
    #abt-text {
        float: none;
        font-size: 1.5em;
    }
    
    #abt-img {
        float: left;
        margin-right: 30px;
    }
    
    #abt-main {
        padding:  60px;
        margin-top: -50px;
    }

  }