@media (max-width: 700px) {
    #iframe {
        margin-top: 50px;
        width: 300px;
        height: 150px;
        

    }
    #footer {
        background-color: #1b2a41;
        width: 100vw;
        /* margin-left: -32px; */
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #contact {
        margin-left: 80px;
    }
  }

  
  @media (min-width: 701px) and (max-width: 1024px) {
    #iframe {
        margin-top: 50px;
        width: 400px;
        height: 200px

    }
    #footer {
        background-color: #1b2a41;
        width: 100vw;
        /* margin-left: -32px; */
        margin-top: 50px;
        display: flex;
        justify-content: space-evenly;
    }
  }
  
  
  
  @media (min-width: 1025px) {
    #iframe {
        margin-top: 10px;
        width: 500px;
        height: 300px

    }
    #footer {
        background-color: #1b2a41;
        width: 100vw;
        /* margin-left: -32px; */
        margin-top: 50px;
        display: flex;
        justify-content: space-evenly;
    }
  }
  