@font-face {
  font-family: Niramit;
  src: url('../pages/assets/Niramit/Niramit-Light.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Niramit;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.separator {
  width: 75px
}