@media (max-width: 700px) {

  #background {
    height: 200px;
    width: 100vw;
    margin-left:  -32px;
    margin-top: 25px;
    object-fit: cover;
  }
  #search {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-family: 'Niramit';
    line-height: 80px;
  }
  #line {
    margin-bottom: 5px;
  }
  
  #cancel {
    margin-right: 10px;
  }

  #main {
    text-align: center;
    font-family: 'Niramit';

  }
  #text {
      background-color:  rgba(0,0,0,0.3);
      width: 100vw;
      margin-left: -32px;
      height: 500px;
      color: white;
      padding: 1%;
      
  }


  #text h1{
    color: white;
  }
  #ways-help {
    text-align: center;
    }
  
    #help-cards {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

.img_wrapper{
  position: relative;
  height: 248px;
  width: 248px;
  margin: 0;
  padding: 0;
}

#card-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  margin: 0;
  padding: 5px;
  margin-top: -24px;
  margin-bottom: 24px;
  margin-left: -24px;
  margin-right: 24px;
  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}


.img_wrapper:hover #card-content {
  visibility: visible;
  opacity: 1;
  cursor: pointer
}

}




@media (min-width: 701px) and (max-width: 1024px) {
  #search {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8em;
    font-family: 'Niramit';
  }
  
  #cancel {
    margin-right: 10px;
  }
  
  #background {
    z-index: -1;
    height: 600px;
    margin-left:  -32px;
     object-fit: cover;
     width: 100vw
  }
  #main {
    position: relative;
    top: 30px;
    text-align: center;
    font-family: 'Niramit';
  }
  #text {
    position: absolute;
    width: 80%;
    top: -100px;
    left: 50%;
    transform: translate(-50%, 50%);
    color: white;
    padding: 50px;
    margin-bottom: 50px;
  }


  #text h1{
    color: white;

  }
  #ways-help {
  text-align: center;
  }

  #help-cards {
    display: flex;
    justify-content: space-evenly;
  }


.img_wrapper{
  position: relative;
  height: 248px;
  width: 248px;
  margin: 0;
  padding: 0;
}

#card-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  margin: 0;
  padding: 5px;
  margin-top: -24px;
  margin-bottom: 24px;
  margin-left: -24px;
  margin-right: 24px;
  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img_wrapper:hover #card-content {
  visibility: visible;
  opacity: 1;
  cursor: pointer
}

}



@media (min-width: 1025px) {
  #search {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8em;
    font-family: 'Niramit';
  }
  
  #cancel {
    margin-right: 10px;
  }

  #background {
    z-index: -1;
    height: 700px;
    margin-top: -25px;
    margin-left:  -32px;
     object-fit: cover;
     width: 100vw;
     opacity: 1.5
  }
  #main {
    position: relative;
    top: 0px;
    text-align: center;
    font-family: 'Niramit';
  }
  #text {
    position: absolute;
    width: 80%;
    top: -150px;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 1.5em;
    padding: 50px;
    color: white;
    /* margin-bottom: 100px; */
  }
  #text h1{
    color: white;
  }
  #ways-help {
    text-align: center;
    }
  #help-cards{
    display: flex;
    justify-content: space-evenly;
  }



.img_wrapper{
  position: relative;
  height: 248px;
  width: 248px;
  margin: 0;
  padding: 0;
}

#card-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  margin: 0;
  padding: 5px;
  margin-top: -24px;
  margin-bottom: 24px;
  margin-left: -24px;
  margin-right: 24px;
  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img_wrapper:hover #card-content {
  visibility: visible;
  opacity: 1;
  cursor: pointer
}

}



#main-button {
  background-color: #324A5f;
  height: 50px;
  width: 150px;
  border-radius: 30px;
  border-width: 1px;
  border-width:  0px;
  border-style: solid;
  color: white;
}

#main-button:hover {
  background-color: #CCC9DC;
  transition: ease-in-out .5s;
  color: #324A5f;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  /* border-color: #324A5f; */
  border-width:  0px;
}

