/* Phone and Small-Sized Screen */
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .link-tags {
    animation: fadeIn 0.75s;
  }
  
  

@media only screen and (max-width: 1025px) {
  #cancelIcon {
    position: absolute;
    left: 20px;
  }
  nav {
    right: 0px;
    display: none;
    position: fixed;
    position: absolute;
    top: 30%;
    left: 50%;
    margin: -100px 0 0 -130px;
  }
  .link {
    text-decoration: none;
    color: var(--light-green);
    width: 180px;
    height: 20px;
    font-family: 'Quicksand';
  }
  .link:hover {
    color: var(--light-green);
  }
  .link-tags {
    font-size: 6vh;
    margin-bottom: 3vh;
  }
}

/* Tablet and Mid-Sized Screen */
@media only screen and (min-width: 1026px) and (max-width: 1300px) {
  #menuIcon {
    display: none;
  }
  #cancelIcon {
    display: none;
  }

  nav {
    top: 30px;
    right: 0px;
    display: flex;
    position: fixed;
  }
  .link {
    text-decoration: none;
    color: var(--light);
    width: 180px;
    height: 20px;
    font-family: 'Quicksand';
  }
  .link:hover {
    color: var(--light);
  }
}

/* Laptops and Large-Sized Screen */
@media only screen and (min-width: 1301px) {
  #menuIcon {
    display: none;
  }
  #cancelIcon {
    display: none;
  }

  nav {
    margin-left:  200px;
    display: flex;
    position: sticky;
  }

  .link {
    text-decoration: none;
    color: var(--light);
    font-family: 'Quicksand';
    width: 180px;
    height: 20px;
  }
  .link-tags:hover {
    background-color:  white ;
  }
  .link-tags {
    font-size: 1em;
    margin-top:  25px;
    margin-left: 50px;
    margin-right:  10px;
    font-size:  1.1em;
    cursor:  pointer;
  }
  #right-menu {
      display: flex;
      position: sticky;
      margin-top: 50px;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #9CBE9C;
      border-radius: 10px;
      height:  80px;
      width: 750px;
  }
  .logo {
      position: sticky;
      margin-left: 0px;
      /* left: -20px; */
      /* top: -10px; */
      font-size: 4vh;
      font-family: 'Marcellus';
  }
  #search {
    height: 20px; 
    margin-left: 10px;
    opacity:  .5;
  }
  #search:hover{
    opacity: 1;
    transition:  0.7s;
    cursor: pointer;
  }
  .sub-title {
    position:  sticky;
  }
}
