  
  @media (max-width: 600px) {
    #modal  {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        /* font-size: .75em; */

    }
  }
  
  

  
  @media (min-width: 601px) {
    #modal-text {
       float: none;
    }

    #modal {
      min-height: 200px;
    }
  }