@media (max-width: 700px) {
    .article {
        font-size: 1.m;
        font-family: 'Niramit';
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 0px;
        text-align: center;
    }
    #pub-card {
        border-radius: 5px;         
         margin-top: 20px;
         width: 350px;
         height: 700px;
         box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.1);
         display: flex;
         flex-direction: column;
          
     }

     #card-container {
        display: flex;
        flex-direction: column;
     }


     #pub-card:hover {
        box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.4);
        transition: ease-out 1s
     }

     #pub-card img {
        z-index: -1;
        height: 300px;
        width: 350px;
         object-fit: cover;
        border-radius: 5px 0px 0px 5px;
         opacity: 1.5
         

     }

     #pub-holder {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         /* margin-left: 40px; */
     }
     #pub-text {
         padding: 50px;
         font-size: 1em;
         font-family: 'Niramit';
     }
  }



  
  
  
  @media (min-width: 701px) and (max-width: 1200px) {
    .article {
        font-size: 1.2em;
        font-family: 'Niramit';
        padding-top: 50px;
        padding-left: 100px;
        padding-right: 100px;
    }
    .article ul {
        margin-left: 40px;
    }
    .article ol {
        margin-left: 40px;
    }
    #pub-card {
        border-radius: 5px;         
         margin-top: 20px;
         width: 400px;
         height: 800px;
         box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.1);
         display: flex;
         flex-direction: column;
          
     }

     #card-container {
        display: flex;
        flex-direction: column;
     }


     #pub-card:hover {
        box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.4);
        transition: ease-out 1s
     }

     #pub-card img {
        z-index: -1;
        height: 400px;
        width: 400px;
         object-fit: cover;
        border-radius: 5px 0px 0px 5px;
         opacity: 1.5
         

     }

     #pub-holder {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
     }
     #pub-text {
         padding: 50px;
         font-size: 1em;
         font-family: 'Niramit';
     }
  }
  
  
  
  
  
  
  @media (min-width: 1201px) and (max-width: 1650px) {
    .article {
        font-size: 1.5em;
        font-family: 'Niramit';
        padding-top: 50px;
        padding-left: 200px;
        padding-right: 200px;
    }
    .article ul {
        margin-left: 40px;
    }
    .article ol {
        margin-left: 40px;
    }
    #pub-card {
        border-radius: 5px;         
         margin-top: 20px;
         width: 80vw;
         height: 400px;
         box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.1);
         display: flex;
         flex-direction: column;
          
     }

     #card-container {
        display: flex;
        flex-direction: row;
     }


     #pub-card:hover {
        box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.4);
        transition: ease-out 1s
     }

     #pub-card img {
        z-index: -1;
        height: 400px;
        width: 500px;
         object-fit: cover;
        border-radius: 5px 0px 0px 5px;
         opacity: 1.5
         

     }

     #pub-holder {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
     }
     #pub-text {
         padding: 50px;
         font-size: 1.1em;
         font-family: 'Niramit';
     }
  }
  
  
  
  @media (min-width: 1651px) {
      .article {
          font-size: 1.6em;
          font-family: 'Niramit';
          padding-top: 50px;
          padding-left: 400px;
          padding-right: 400px;
      }
      .article ul {
        margin-left: 40px;
    }
    .article ol {
        margin-left: 40px;
    }
     #pub-card {
        border-radius: 5px;         
         margin-top: 20px;
         width: 80vw;
         height: 400px;
         box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.1);
         display: flex;
         flex-direction: column;
          
     }

     #card-container {
        display: flex;
        flex-direction: row;
     }


     #pub-card:hover {
        box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.4);
        transition: ease-out 1s
     }

     #pub-card img {
        z-index: -1;
        height: 400px;
        width: 600px;
         object-fit: cover;
        border-radius: 5px 0px 0px 5px;
         opacity: 1.5
         

     }

     #pub-holder {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;

     }
     #pub-text {
         padding: 50px;
         font-size: 1.3em;
         font-family: 'Niramit';
     }
  }



#pub-button {
    background-color: #CCC9DC;
    height: 50px;
    width: 150px;
    border-radius: 30px;
    border-width: 1px;
    border-color: white;
    border-style: solid;
  }
  
  #pub-button:hover {
    background-color: white;
    transition: ease-in-out .5s;
    color: #CCC9DC;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: #CCC9DC;
  }

  #input {
      width: 75vw;
      height: 50px;
      border-radius: 5px;
      margin-top: 10px;
      margin-right: 20px;
  }


  #back-nav:hover {
      color: #CCC9DC;
  }
  #back-nav {
      text-decoration: none;
      color: grey;
  
  }
  #back-nav img {
    filter: opacity(0.4);
    height: 25px;
    margin-right: 10px;
    margin-left: 10px;

  }

  @keyframes slidein {
    from {
      width: 30px
    }
  
    to {
        width: 75vw;
    }
  }
  

  #input {
      animation: slidein 1s;
  
  }