

  
@media (max-width: 1024px) {
    #rect {
        background-color: rgb(85, 94, 72);
        height: 200px;
        width: 100vw;
        margin-top: -0px;
        /* border-radius: 10px; */
        
    }
    
    #cent-rect {
       font-family: 'Niramit';
       font-size: 1.8rem;
        color: white;
        height: 70px;
        width: 170px;
        text-align: center;
        margin-top: -110px;
        margin-left: 15px;
        line-height: 70px;
        border-radius: 10px;
    }
    
    #cent-rect h1 {
        color: white;
        margin-left: 50px;
    }
    
  }
  
  

  
  @media (min-width: 1025px) {
    #rect {
        background-color: rgb(85, 94, 72);
        height: 200px;
        width: 100vw;
        margin-top: -50px;
        /* border-radius: 10px; */
    
    }
    
    #cent-rect {
        font-family: 'Niramit';
        font-size: 1.8rem;
        color: white;
        height: 70px;
        width: 170px;
        text-align: center;
        margin-top: -110px;
        margin-left: 15px;
        line-height: 70px;
        border-radius: 10px;
    }
    
    #cent-rect h1 {
        /* background-color: white; */
        color: white;
    }
    

  }